.modal-right .modal-dialog {
    position: fixed;

    top: 15%;


    right: 0;
    /* position: relative; */
    /* margin: 0; */
    /* margin-right: 20px; */
    /* width: 350px; */
    max-width: 350px;
    /* height: 8rem; */
    transition: .3s ease;
    max-height: 80vh;
    /* overflow-y: auto;  */
}

.modal-right {
    max-height: 5px;
    /* background-color: rgba(0, 0, 0, 0.5); */

}

/* .modal-dialog::-webkit-scrollbar {
    display: none;
} */

.modal-body {
    max-height: 60vh;
}

.modalCenteredSm {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

@media (max-width: 576px) {
    .modal-right {
        max-height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        /* top: 0%;


        right: 0; */
    }

    .modal-right .modal-dialog {
        position: relative;
         max-width: 100vh;
        /* top: 0%;


        right: 0; */


    }


}